/**
		LOADER
					**/
.loader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: #efefef;
	z-index: 99999;
	pointer-events: none;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 7vw;
	font-style: italic;
	text-decoration: underline;
}
.loader.in {
	transform: translateY(0vh);
}
.loader.in.active {
	transform: translateY(200vh);
	transition: transform 1.2s cubic-bezier(0.4, 0, 0.2, 1);
}
.loader.out {
	transform: translateY(-200vh);
}
.loader.out.active {
	transform: translateY(0vh);
	transition: transform 0.7s cubic-bezier(0.4, 0, 0.2, 1);
}
@media (min-width: 1200px) {
	.loader span {
		font-size: 100px!important;
	}
}
/**
		COMMON CSS
					**/
html, body {
	padding:0;
	margin:0;
}
body {
	font-family: Avenir, "Noto Sans JP", -apple-system, BlinkMacSystemFont, "Noto Sans Japanese", "Yu Gothic Bold", "游ゴシック Bold", YuGothic, "游ゴシック体", "メイリオ", "Meiryo", sans-serif;
	font-weight: bold!important;
	color: #313743;
}
h1 {
	font-size: 40px;
	display: inline-block;
}
h2 {
	font-size: 30px;
}
p {
	font-size: 20px;
	line-height: 1.7em;
	text-align: justify;
}
@media (max-width: 575px) {
	p {
		letter-spacing: 0em;
		text-align: left;
	}
}
section {
	margin-bottom: 50px;
}
a {
	text-decoration: underline;
	color: initial;
}
/** Container **/
.container {
	box-sizing: border-box;
	width: 100%;
	padding: 0 30px;
	margin: 0 auto;
}
@media (min-width: 576px) {
	.container {
		max-width: 540px;
	}
}
@media (min-width: 768px) {
	.container {
		max-width: 720px;
	}
}

@media (min-width: 992px) {
	.container {
		max-width: 960px;
	}
}

@media (min-width: 1200px) {
	.container {
		max-width: 1140px;
	}
}
.clear,
.column-container {
	clear: both;
}
/** Button **/
.btn {
	display: inline-block;
	text-align: center;
	text-decoration: none;
	outline: none;
	padding: 5px 15px;
	position: relative;
	z-index: 2;
	border: 2px solid #00253A;
	color: #00253A;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .3s;
	transition: all .3s;
}
.btn:hover {
	background: #00253A;
	color: #fff;
	transition: .3s;
	border: 2px solid #00253A;
}
.btn:hover .im {
	color: #fff;
	transition: .3s;
}
.im {
	vertical-align: middle;
	margin-left: 5px;
	line-height: inherit;
	font-size: inherit;
	color: initial;
	transition: .3s;
}
/** H1 TAG **/
.lead {
	width: 100%;
}
h1 {
	position: relative;
	padding: 0 5px 0 3px;
}
h1:after {
	background: linear-gradient(transparent 70%, #10CBCE 0%);
	content: "";
	width: 100%;
	position: absolute;
	left: 0;
	height: 57px;
	z-index: -9;
}
@media (max-width: 767px) {
	section#mission h1 span {
		position: relative;
	}
	section#mission h1 span:after {
		background: linear-gradient(transparent 70%, #10CBCE 0%);
		content: "";
		width: 100%;
		position: absolute;
		left: 0;
		height: 57px;
		z-index: -9;
	}
	section#mission h1:after {
		display: none;
	}
}
/** 
	PROGRESS BAR
					**/
#progress {
	height: 3px;
	background-color: rgb(0, 36, 59);
	position: fixed;
	bottom: 0;
	top: 0;
	z-index: 999;
}
/** 
		HEADER
					**/
header {
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 199;
	height: 70px;
}
header.active {
	background-color: #fff;
}
header img.logo {
	width: 30px;
	height: auto;
	position: absolute;
	left: 30px;
	top: 20px;
}
header a {
	text-decoration: none;
	color: unset;
}
header nav {
	position: absolute;
	left: 100px;
}
header ul {
	margin: 0;
	padding: 0;
}
header ul li {
	line-height: 70px;
	display: inline-block;
	margin-right: 25px;
}
header .m-toggle,
header .m-toggle span {
	display: none;
	transition: all .4s;
	box-sizing: border-box;
}
header .m-toggle {
	position: absolute;
	width: 22px;
	height: 15px;
	top: 30px;
	right: 30px;
}
header .m-toggle span {
	position: absolute;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: #000;
	border-radius: 4px;
}
header .m-toggle span:nth-of-type(1) {
	top: 0;
}
header .m-toggle span:nth-of-type(2) {
	top: 6px;
}
header .m-toggle span:nth-of-type(3) {
	bottom: 0;
}
header .m-toggle.active span:nth-of-type(1) {
	-webkit-transform: translateY(7px) rotate(-45deg);
	transform: translateY(7px) rotate(-45deg);
}
header .m-toggle.active span:nth-of-type(2) {
	opacity: 0;
}
header .m-toggle.active span:nth-of-type(3) {
	-webkit-transform: translateY(-5px) rotate(45deg);
	transform: translateY(-5px) rotate(45deg);
}

@media (min-width: 768px) {
	header nav ul li a {
		transition: .3s opacity;
		opacity: 1;
	}
	header nav ul li a:hover {
		transition: .3s opacity;
		opacity: 0.5;
	}
}
@media (max-width: 767px) {
	header .container {
		width: 100%!important;
		max-width: none;
		background-color: rgba(255,255,255,0.8);
	}
	header img.logo {
		z-index: 199;
	}
	header nav {
		height: 100vh;
		width: 100vw;
		left: 0;
		padding-top: 80px;
		padding-left: 80px;
		background-color: rgba(255,255,255,0.8);
		display: none;
	}
	header nav.active {
		display: block;
	}
	header nav ul li {
		width: 100%;
		font-size: 40px;
	}
	header nav ul li a {
		position: relative;
	}
	header nav ul li a:hover:after {
		position: absolute;
		width: 100%;
		left: 0;
		bottom: 7px;
		border-bottom: 5px solid #000;
		content: "";
	}
	header .m-toggle,
	header .m-toggle span {
		display: inline-block;
	}
}
@media (max-width: 370px) {
	header nav {
		padding-left: 30px;
	}
}
/**
		footer 
					**/
footer {
	background-color: #00253A;
	height: 160px;
	position: relative;
	color: #fff;
}
footer span {
	position: absolute;
	left: 10px;
	bottom: 10px;
	opacity: 0.5;
	font-weight: normal;
}
footer ul {
	margin: 0;
	padding: 0;
	position: absolute;
	right: 10px;
	bottom: 10px;
}
footer ul li {
	display: inline-block;
	margin-right: 5px;
}
footer ul li .im {
	color: #fff;
	font-size: 20px;
	margin-left: 3px;
	opacity: 0.5;
	transition: 0.3s opacity;
}
footer ul li a:hover .im {
	opacity: 0.8;
	transition: 0.3s opacity;
}