body {
	margin: 0;
	padding: 0;
	background-color: #002439;
}
.container {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	margin: 0;
	position: relative;
	border: 10px #002439 solid;
	background-color: #efefef;
	box-sizing: border-box;
}
.logo {
	width: 50px;
	height: auto;
	position: absolute;
	top: 20px;
	left: 20px;
}
.message {
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
}
.message_h1 {
	font-size: 3.5vw;
	color: #002439;
	letter-spacing: 0.04em;
	margin-bottom: 0;
}
.message_h2 {
	font-size: 2vw;
	color: #002439;
	margin-top: 0;
	padding-right: 22px;
}

.menu {
	position: absolute;
	left: 20px;
	bottom: 20px;
	display: flex;
	flex-direction: column;
}
.menu .menu_title {
	font-size: 0.5em;
	letter-spacing: 0.5em;
	font-weight: 600;
	margin-bottom: 9px;
}
.menu .menu_title span {
    height: 100px;
    width: 1px;
    margin: 0 0 12px;
    background-color: #002439;
    display: block;
}
.menu a.menu_link {
	color: #002439;
	font-size: 1em;
	text-decoration: none;
	margin: 3px 0;
}
.menu a.menu_link:hover {
	text-decoration: line-through;
}

.info {
	position: absolute;
	right: 20px;
	bottom: 20px;
	text-align: left;
}

.info > p {
	color: #002439;
	margin: 6px 0 0 0;
}
.info > p > span {
	font-size: 0.95em;
	padding-bottom: calc( 0.1em - 1px );
	border-bottom: 1px solid;
	margin-right: 8px;
}
.info > p > span::after {
	content: "";
}