/**
	common settings 
					**/
html, body {
	padding:0;
	margin:0;
}
body {
	font-family: Avenir, "Noto Sans JP", -apple-system, BlinkMacSystemFont, "Noto Sans Japanese", "Yu Gothic Bold", "游ゴシック Bold", YuGothic, "游ゴシック体", "メイリオ", "Meiryo", sans-serif;
	font-weight: bold!important;
	color: #313743;
}
h1 {
	font-size: 40px;
	display: inline-block;
}
h2 {
	font-size: 30px;
}
p {
	font-size: 20px;
	letter-spacing: 0.06em;
    line-height: 1.7em;
    text-align: justify;
}
@media (max-width: 575px) {
	p {
		letter-spacing: 0em;
	    text-align: left;
	}
}
section {
	margin-bottom: 50px;
}
.lead {
	width: 100%;
}
.lead h1 {
	padding: 0 5px 4px 5px;
	line-height: 1em;
	background: linear-gradient(transparent 70%, #10CBCE 0%);
}
.container {
	box-sizing: border-box;
	width: 100%;
	padding: 0 30px;
	margin: 0 auto;
}
@media (min-width: 576px) {
	.container {
		max-width: 540px;
	}
}
@media (min-width: 768px) {
	.container {
		max-width: 720px;
	}
}

@media (min-width: 992px) {
	.container {
		max-width: 960px;
	}
}

@media (min-width: 1200px) {
	.container {
		max-width: 1140px;
	}
}
.clear,
.column-container {
	clear: both;
}
.btn {
	display: inline-block;
	text-align: center;
	text-decoration: none;
	outline: none;
	padding: 5px 15px;
	position: relative;
	z-index: 2;
	border: 2px solid #00253A;
	color: #00253A;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .3s;
	transition: all .3s;
}
.btn:hover {
	background: #00253A;;
	color: #fff;
	transition: .3s;
	border: 2px solid #333;
}
.btn:hover .im {
	color: #fff;
	transition: .3s;
}
.im {
	vertical-align: middle;
	margin-left: 5px;
	line-height: inherit;
	font-size: inherit;
	color: initial;
	transition: .3s;
}
/** 
		HEADER
					**/
header {
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 199;
	height: 70px;
}
header.active {
	background-color: #fff;
}
header img.logo {
	width: 30px;
	height: auto;
	position: absolute;
    left: 30px;
    top: 20px;
}
header a {
	text-decoration: none;
	color: unset;
}
header nav {
	position: absolute;
    left: 100px;
}
header ul {
	margin: 0;
	padding: 0;
}
header ul li {
	line-height: 70px;
    display: inline-block;
    margin-right: 25px;
}
header #toggle {
	display: none;
}
header #toggle .im {
	position: absolute;
	font-size: 30px;
    top: 20px;
    right: 30px;
}
@media (min-width: 768px) {
	header nav ul li a {
		transition: .3s opacity;
		opacity: 1;
	}
	header nav ul li a:hover {
		transition: .3s opacity;
		opacity: 0.5;
	}
}
@media (max-width: 767px) {
	header .container {
		width: 100%!important;
		max-width: none;
		background-color: rgba(255,255,255,0.8);
	}
	header img.logo {
		z-index: 199;
	}
	header nav {
		height: 100vh;
		width: 100vw;
		left: 0;
		padding-top: 80px;
		padding-left: 80px;
		background-color: rgba(255,255,255,0.8);
		display: none;
	}
	header nav.active {
		display: block;
	}
	header nav ul li {
		width: 100%;
		font-size: 40px;
	}
	header nav ul li a {
		position: relative;
	}
	header nav ul li a:hover:after {
		position: absolute;
		width: 100%;
		left: 0;
		bottom: 7px;
		border-bottom: 5px solid #000;
		content: "";
	}
	header #toggle {
		display: block;
		float: right;
	}
}
@media (max-width: 370px) {
	header nav {
		padding-left: 30px;
	}
}
/** 
		#top
					**/
section#top {
	height: 80vh;
	position: relative;
	background-image: url(../assets/top-bg.jpg);
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
}
section#top:after {
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	content: "";
	background-color: rgba(255,255,255,0.15);
}
section#top .top-bg {
	display: none
}
@media (max-width: 662px) {
	section#top {
		height: auto;
		width: 100%;
		background: none;
	}
	section#top .top-bg {
		display: block;
		width: 100%;
		height: auto;
	}
}
/** 
		#mission
					**/
section#mission h1 {
	font-size: 50px!important;
}
section#mission h1 br {
	display: none;
}
section#mission p {
	font-size: 23px!important;
	margin: 30px 0;
}
section#mission p span {
    display: block;
    margin: 7px 0;
    color: #6B43E0;
}
@media (max-width: 767px) {
	section#mission h1 {
		font-size: 42px!important;
	}
	section#mission br {
		display: none;
	}
	section#mission p span {
		letter-spacing: 0.03em;
	}
}
@media (max-width: 575px) {
	section#mission h1 {
		background: none;
		font-size: 50px!important;
    	line-height: 1.3em;
	}
	section#mission h1 br {
		display: inline;
	}
}
/**
		#products 
					**/
section#products .box {
	width: 50%;
	box-sizing: border-box;
	float: left;
}
section#products .box#haco {
	padding-right: 10px;
}
section#products .box#hacrew {
	padding-left: 10px;
}
section#products img {
	width: 100%;
	border-radius: 3px;
}
section#products .box h2 {
	color: #6B43E0;
}
section#products .box h2 span {
	font-size: 0.5em;
	opacity: 0.7;
}
@media (max-width: 575px) {
	section#products .box h2 span {
		display: block;
	}
}
@media (max-width: 767px) {
	section#products .box {
		width: 100%;
		float: none;
		margin-bottom: 50px;
	}
}
@media (min-width: 768px) {
	section#products .box h2 span {
		display: block;
	}
}

@media (min-width: 992px) {
	section#products .box h2 span {
		display: inline-block;
	}
}
/**
		#board 
					**/
section#board h2 {
	margin: 0;
	font-size: 25px;
}
section#board p {
	font-size: 16px;
}
section#board br {
	display: none;
}
section#board .column-container {
    margin-bottom: 20px;
}
section#board .column-container .left-column {
	width: 20%;
/*	min-width: 200px;*/
	float: left;
}
section#board .column-container .right-column {
	width: 80%;
	float: left;
	box-sizing: border-box;
	padding-left: 20px;
}
section#board .column-container .profile-link {
	vertical-align: middle;
	padding-left: 15px;
	font-size: : 23px;
	line-height: 25px;
	vertical-align: middle;
    display: inline-block;
}
section#board .column-container .profile-link .im {
	margin-left: 0;
	transition: .15s opacity;
}
section#board .column-container .profile-link a:hover .im {
	opacity: 0.6;
	transition: .15s opacity;
}
section#board .column-container .left-column .profile-link {
	display: inline-block;
	padding-top: 10px;
	padding-left: 0;
	width: 100%;
	text-align: center;
}
section#board .column-container .left-column .profile-link a:last-child {
	margin-left: 5px;
}
section#board .column-container .right-column .profile-link {
	display: none;
}
section#board .column-container img {
	width: 100%;
	height: auto;
	border-radius: 3px;
}
@media (max-width: 575px) {
	section#board br {
		display: block;
	}
	section#board h2 {
		margin-top: 10px;
		text-align: center;
	}
	section#board p {
		margin-bottom: 50px;
	}
	section#board .column-container {
	    margin-bottom: 20px;
	}
	section#board .column-container span.role {
		opacity: 0.65;
	    font-size: 0.75em;
	    line-height: 0em;
	}
	section#board .column-container .left-column {
		width: 50%;
		max-width: 500px;
		text-align: center;
		margin: 0 auto;
		float: none;
	}
	section#board .column-container .right-column {
		width: 100%;
		float: none;
		padding-left: 0px;
	}
	section#board .column-container .profile-link {
		
		font-size: 1em;
	}
	section#board .column-container .left-column .profile-link {
		display: none;
	}
	section#board .column-container .right-column .profile-link {
		display: block;
		padding-top: 10px;
		padding-left: 0;
		width: 100%;
		text-align: center;
	}
	section#board .column-container .right-column .profile-link a:last-child {
		margin-left: 5px;
	}
}
@media (min-width: 576px) {
	section#board .column-container .left-column {
		width: 25%;
	}
	section#board .column-container .right-column {
		width: 75%;
	}
}
@media (min-width: 768px) {
	section#board .column-container .left-column {
		width: 30%;
	}
	section#board .column-container .right-column {
		width: 70%;
	}
	section#board .column-container .left-column .profile-link {
		display: none;
	}
	section#board .column-container .right-column .profile-link {
		display: inline-block;
	}
}
@media (min-width: 992px) {
	section#board .column-container .left-column {
		width: 20%;
	}
	section#board .column-container .right-column {
		width: 80%;
	}
}
/**
		#recruit 
					**/
section#recruit p {
	margin-top: 0;
}
section#recruit .wework img {
	width: 50%;
	box-sizing: border-box;
	padding: 10px;
	float: left;
	border-radius: 15px;
	transition: .3s opacity;
}
section#recruit .wework img:hover {
	opacity: 0.65;
	transition: .3s opacity;
}
section#recruit a.btn {
	margin: 0 auto;
	margin-top: 15px;
	display: block;
	width: 300px;
	letter-spacing: 0.2em;
	font-size: 20px;
}
section#recruit a.btn .im {
	font-size: 19px!important;
}
@media (max-width: 575px) {
	section#recruit a.btn {
		width: 100%;
	}
}
@media (max-width: 767px) {
	section#recruit .wework img {
		width:100%;
		padding: 10px;
		float: left;
	}
}
/**
		#about-us 
					**/
section#about-us table {
	margin: 0 auto;
	width: 100%;
	text-align: left;
	font-size: 20px;
	line-height: 2em;
}
section#about-us table , td, th {
	border-top: 2px solid #595959;
	border-bottom: 2px solid #595959;
	border-collapse: collapse;
}
section#about-us table th {
	vertical-align: top;
	padding: 12px 30px;
    width: 30%;
}
section#about-us table td {
	width: 70%;
	line-height: 1.5em;
    padding: 10px;
}
@media (max-width: 575px) {
	section#about-us table th {
		padding: 12px 0;
	}
}
/**
		#about-us 
					**/
section#contact label {
    display: block;
    font-size: 20px;
    line-height: 2em;
}
section#contact input[type="text"], textarea {
	width: 60%;
    font-size: 20px;
    padding: 0 10px;
    margin-bottom: 15px;
    font-weight: bold;
    font-family: Avenir, "Noto Sans JP", -apple-system, BlinkMacSystemFont, "Noto Sans Japanese", "Yu Gothic Bold", "游ゴシック Bold", YuGothic, "游ゴシック体", "メイリオ", "Meiryo", sans-serif;
    border: 1px solid #dfdfdf;
}
section#contact input[type="text"]:focus, textarea:focus {
    border: 1px solid #313743;
    outline: 0;
}
section#contact input[type="text"] {
    height: 50px;
}
section#contact textarea {
	height: 200px;
}
section#contact input[type="submit"] {
	display: inline-block;
	width: 62%;
	font-size: 20px;
	text-align: center;
	cursor: pointer;
	padding: 10px 40px;
	background: #fff;
	color: #313743;
    font-weight: bold;
    font-family: Avenir, "Noto Sans JP", -apple-system, BlinkMacSystemFont, "Noto Sans Japanese", "Yu Gothic Bold", "游ゴシック Bold", YuGothic, "游ゴシック体", "メイリオ", "Meiryo", sans-serif;
	line-height: 1em;
	transition: .3s;
	border: 2px solid #313743;
}
section#contact input[type="submit"]:hover {
	background: #313743;
	color: #fff;
	transition: .3s;
	border: 2px solid #313743;
}
@media (max-width: 575px) {
	section#contact input, textarea {
		width: 100%!important;
		box-sizing: border-box;
	}
}
/**
		footer 
					**/
footer {
	background-color: #00253A;
	height: 160px;
	position: relative;
	color: #fff;
}
footer span {
	position: absolute;
	left: 10px;
	bottom: 10px;
	opacity: 0.5;
	font-weight: normal;
}
footer ul {
	margin: 0;
	padding: 0;
	position: absolute;
	right: 10px;
	bottom: 10px;
}
footer ul li {
    display: inline-block;
    margin-right: 5px;
}
footer ul li .im {
	color: #fff;
	font-size: 20px;
	margin-left: 3px;
	opacity: 0.5;
	transition: 0.3s opacity;
}
footer ul li a:hover .im {
	opacity: 0.8;
	transition: 0.3s opacity;
}